@import "node_modules/lbh-frontend/lbh/core/all";
@import "node_modules/lbh-frontend/lbh/objects/all";
@import "node_modules/lbh-frontend/lbh/helpers/colour";
@import "node_modules/lbh-frontend/lbh/components/lbh-back-to-top/back-to-top";
@import "node_modules/lbh-frontend/lbh/components/lbh-button/button";
@import "node_modules/lbh-frontend/lbh/components/lbh-checkboxes/checkboxes";
@import "node_modules/lbh-frontend/lbh/components/lbh-date-input/date-input";
@import "node_modules/lbh-frontend/lbh/components/lbh-error-summary/error-summary";
@import "node_modules/lbh-frontend/lbh/components/lbh-fieldset/fieldset";
@import "node_modules/lbh-frontend/lbh/components/lbh-header/header";
@import "node_modules/lbh-frontend/lbh/components/lbh-input/input";
@import "node_modules/lbh-frontend/lbh/components/lbh-label/label";
@import "node_modules/lbh-frontend/lbh/components/lbh-page-announcement/page-announcement";
@import "node_modules/lbh-frontend/lbh/components/lbh-panel/panel";
@import "node_modules/lbh-frontend/lbh/components/lbh-radios/radios";
@import "node_modules/lbh-frontend/lbh/components/lbh-select/select";
@import "node_modules/lbh-frontend/lbh/components/lbh-skip-link/skip-link";
@import "node_modules/lbh-frontend/lbh/components/lbh-summary-list/summary-list";
@import "node_modules/lbh-frontend/lbh/components/lbh-table/table";
@import "node_modules/lbh-frontend/lbh/components/lbh-textarea/textarea";


#address-lookup-fieldset {
  display: none;

  .js-enabled & {
    display: block;
  }
}

#address-manual-fieldset {
  display: none;
}

#building_number {
  display: none;
}

.govuk-fieldset {
  margin-top: 50px;
}


textarea[readonly] {
  border-width: 1px;
  background-color: lbh-colour("lbh-grey-4");
}