@import "node_modules/lbh-frontend/lbh/core/all";
@import "node_modules/lbh-frontend/lbh/objects/all";
@import "node_modules/lbh-frontend/lbh/helpers/colour";
@import "node_modules/lbh-frontend/lbh/components/lbh-accordion/accordion";
@import "node_modules/lbh-frontend/lbh/components/lbh-button/button";
@import "node_modules/lbh-frontend/lbh/components/lbh-checkboxes/checkboxes";
@import "node_modules/lbh-frontend/lbh/components/lbh-date-input/date-input";
@import "node_modules/lbh-frontend/lbh/components/lbh-error-summary/error-summary";
@import "node_modules/lbh-frontend/lbh/components/lbh-fieldset/fieldset";
@import "node_modules/lbh-frontend/lbh/components/lbh-header/header";
@import "node_modules/lbh-frontend/lbh/components/lbh-input/input";
@import "node_modules/lbh-frontend/lbh/components/lbh-label/label";
@import "node_modules/lbh-frontend/lbh/components/lbh-panel/panel";
@import "node_modules/lbh-frontend/lbh/components/lbh-radios/radios";
@import "node_modules/lbh-frontend/lbh/components/lbh-select/select";
@import "node_modules/lbh-frontend/lbh/components/lbh-skip-link/skip-link";
@import "node_modules/lbh-frontend/lbh/components/lbh-table/table";
@import "node_modules/lbh-frontend/lbh/components/lbh-tag/tag";
@import "node_modules/lbh-frontend/lbh/components/lbh-textarea/textarea";


#address-lookup-fieldset {
  display: none;

  .js-enabled & {
    display: block;
  }
}

#address-manual-fieldset {
  display: none;
}

#building_number {
  display: none;
}

.govuk-fieldset {
  margin-top: 50px;
}


.govuk-accordion {
  &__section-header {
    background-color: #f8f8f8;
    padding-left: 20px;

    &.is-master {
      background-color: lbh-colour("lbh-a03");
    }
    
    &.is-duplicate {
      background-color: lbh-colour("lbh-h04");
    }
    
    &.is-exception {
      background-color: lbh-colour("lbh-f04");
    }
  }

  &__section {
    margin-bottom: 15px;
  }
}

.lbh-tag {
  padding: 4px 24px;
  font-weight: 700;

  &.is-master {
    background: lbh-colour("lbh-a03");
  }
  
  &.is-duplicate {
    background: lbh-colour("lbh-h04");
  }
  
  &.is-exception {
    background: lbh-colour("lbh-f04");
  }
}

.text-align-right {
  text-align: right;
}
textarea[readonly] {
  border-width: 1px;
  background-color: lbh-colour("lbh-grey-4");
}

.js-enabled {

  .govuk-accordion {
    border-bottom: none;

    &__section-header {
      border-top: none;
      border-bottom: 1px solid lbh-colour("lbh-grey-2");
    }
  }
}
