<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
    {{ lbhButton({
        text: "Cancel",
        "isSecondary": true,
        "href": "/"
    })}}
    </div>
    <div class="govuk-grid-column-one-half text-align-right">
        <button class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">
            Update
        </button>
    </div>
</div>