{% macro HelpRequestDataList(data) %}
<table class="govuk-table  lbh-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Address</th>
        <th scope="col" class="govuk-table__header">Request Date</th>
        <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for item in data %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    {{item.FirstName | upper }} {{item.LastName | upper}} 
                </td>
                <td class="govuk-table__cell">
                    {{item.AddressFirstLine}}, {{item.AddressSecondLine}}, {{item.PostCode}}
                </td>
                <td class="govuk-table__cell">{{item.creation_date}}</td>
                <td class="govuk-table__cell">
                    <a href="/help-requests/edit/{{item.Id}}" class="js-cta-btn">View</a>
                </td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endmacro %}