<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <a href="/help-requests" class="govuk-button lbh-button govuk-button--secondary lbh-button--secondary">Cancel</a>
    </div>
    <div class="govuk-grid-column-one-half text-align-right">
         <button type="submit" class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">
            Next
         </button>
    </div>
</div>