<div class="govuk-grid-row">
    {% set callMade %}
        {% set spokeToResident %}
            <div class="govuk-grid-row">
                <div class="display-spoke-to-resident">
                    {{ lbhCheckboxes({
                        "hint": {
                            "text": "Select a call outcome"
                        },
                        "idPrefix": "CallOutcome",
                        "name": "CallOutcome",
                        "items": [
                            {
                                "value": "callback_complete",
                                "text": "Callback complete",
                                "checked": false
                            },
                            {
                                "value": "refused_to_engage",
                                "text": "Refused to engage",
                                "checked": false
                            },
                            {
                                "value": "follow_up_requested",
                                "text": "Follow up requested",
                                "checked":false 
                            },
                            {
                                "value": "call_rescheduled",
                                "text": "Call rescheduled",
                                "checked": false
                            }
                        ],
                        "formGroup": {
                            "classes": "govuk-form-group--error lbh-form-group" if query.error_CallOutcome else ''
                        },
                        "errorMessage": {
                            "text": query.error_CallOutcome
                        } if query.error_CallOutcome else null
                    }) }} 
                    <div class="display-call-attempted">
                
                    </div>
                </div>
            </div>
        {% endset -%}
        {% set callAttempted %}
            <div class="display-call-attempted">
                {{ lbhCheckboxes({
                    "hint": {
                        "text": "Select a call outcome"
                    },
                    "idPrefix": "CallOutcome",
                    "name": "CallOutcome",
                    "items": [
                        {
                            "value": "voicemail",
                            "text": "Voicemail left",
                            "checked": false
                        },
                        {
                            "value": "wrong_number",
                            "text": "Wrong number",
                            "checked": false
                        },
                        {
                            "value": "no_answer_machine",
                            "text": "No answer machine",
                            "checked":false
                        },
                         {
                            "value": "close_case",
                            "text": "Close case",
                            "checked": false
                        }
                    ],
                    "formGroup": {
                        "classes": "govuk-form-group--error lbh-form-group" if query.error_CurrentSupport else ''
                    },
                    "errorMessage": {
                        "text": query.error_CurrentSupport
                    } if query.error_CurrentSupport else null
                })}} 
            </div>
        {% endset -%}

        {{ lbhRadios({
             "fieldset": {
                "legend": {
                "text":"Did you speak to the resident?"
                }
            },
            "idPrefix": "CallDetail",
            "name": "CallDetail",
            "classes": "govuk-radios--inline",
            "items": [
                {
                    "value": "spoke_to_resident",
                    "text": "Yes - spoke to a resident",
                    "checked": false,
                    "conditional": { html: spokeToResident}
                },
                {
                    "value": "call_attempted",
                    "text": "No - call attempted",
                    "checked": false,
                    "conditional": { html: callAttempted}
                }
                ],
                "formGroup": {
                    "classes": "govuk-form-group--error lbh-form-group" if query.error_CallDetail else ''
                },
                "errorMessage": {
                "text": query.error_CallDetail
                } if query.error_CallDetail else null
        }) }}

        {{ lbhRadios({
             "fieldset": {
                "legend": {
                "text":"What was the initial purpose of the call?"}
                },
            "idPrefix": "CallType",
            "name": "CallType",
            "items": [
                {
                    "value": "Contact Tracing",
                    "text": "Contact Tracing",
                    "checked": false
                },
                {
                    "value": "Shielding",
                    "text": "Shielding",
                    "checked": false
                },
                {
                    "value": "Welfare Call",
                    "text": "Welfare Call",
                    "checked": false
                },
                {
                    "value": "Help Request",
                    "text": "Help Request",
                    "checked": false
                }
            ],
            "formGroup": {
                "classes": "govuk-form-group--error lbh-form-group" if query.error_CurrentSupport else ''
            },
            "errorMessage": {
                "text": query.error_CurrentSupport
            } if query.error_CurrentSupport else null
        })}} 
        {{ lbhRadios({
            "fieldset": {
                "legend": {
                "text": "Who made the call today?"}
                },
            "idPrefix": "CallDirection",
            "name": "CallDirection",
            "items": [
                {
                    "value": "outbound",
                    "text": "I called the resident",
                    "checked": false
                },
                {
                    "value": "inbound",
                    "text": "The resident called me",
                    "checked": false
                }
            ],
            "formGroup": {
                "classes": "govuk-form-group--error lbh-form-group" if query.error_CurrentSupport else ''
            },
            "errorMessage": {
                "text": query.error_CurrentSupport
            } if query.error_CurrentSupport else null
        })}} 
    {% endset -%}
    <div class="govuk-grid-column-one-half">
        {{ lbhRadios({
            "fieldset": {
                "legend": {
                "text": "Do you need to log new call details?"
                }
            },
            "idPrefix": "CallMade",
            "name": "CallMade",
            "items": [
                {
                    "value": "yes",
                    "text": "Yes",
                    "checked": false,
                    "conditional" : {html: callMade}
                },
                {
                    "value": "no",
                    "text": "No",
                    "checked": false
                }
            ],
            "formGroup": {
                "classes": "govuk-form-group--error lbh-form-group" if query.error_CurrentSupport else ''
            },
            "errorMessage": {
                "text": query.error_CurrentSupport
            } if query.error_CurrentSupport else null
        })}} 
    </div>
</div>
