{% macro HelpRequestDataList(data) %}
<table class="govuk-table  lbh-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Address</th>
        <th scope="col" class="govuk-table__header">Requested Date</th>
        <th scope="col" class="govuk-table__header">Type</th>
        <th scope="col" class="table-cell-text-centered govuk-table__header">Unsuccessful call attempts</th>
        <th scope="col" class="table-cell-text-centered govuk-table__header">Follow-up required?</th>
        <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for item in data %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    {{item.FirstName}} {{item.LastName}}
                </td>
                <td class="govuk-table__cell">
                    {{item.AddressFirstLine}}, {{item.AddressSecondLine}}, {{item.PostCode}}
                </td>
                <td class="govuk-table__cell">{{item.creation_date}}</td>
                <td class="govuk-table__cell">{{item.HelpNeeded}}</td>
                <span hidden=true>
                {% set unsuccessfulCalls = 0 %}
                {% set stopCount = false %}
                {% for call in item.calls %}
                    {%if call.CallOutcome.includes('callback_complete') or call.CallOutcome.includes('refused_to_engage') %}
                        {% set stopCount=true %}
                    {% endif %}
                    {{call.CallOutcome}}
                    {%if (call.CallOutcome.includes('no_answer_machine') or call.CallOutcome.includes('wrong_number') or call.CallOutcome.includes('voicemail')) and not stopCount %}
                        {% set unsuccessfulCalls = unsuccessfulCalls +1 %}
                    {% endif %}
                {% endfor %}
                </span>
                {% set redText = "redText" if unsuccessfulCalls>4 %}
                <td class="table-cell-text-centered govuk-table__cell {{redText}}">{{unsuccessfulCalls}}</td>

                <td class="table-cell-text-centered govuk-table__cell">{% if item.CallbackRequired %}Y{% endif %}</td>
                <td class="govuk-table__cell">
                    <a data-testid="view-button"  href="/help-requests/edit/{{item.Id}}" class="js-cta-btn" id="view-resident-{{item.Id}}">View</a>
                </td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endmacro %}