<div class="govuk-grid-row" id="btn-bottom-panel">
    <div class="govuk-grid-column-one-half">
        <a href="/help-requests" class="govuk-button lbh-button govuk-button--secondary lbh-button--secondary js-cta-btn">Cancel</a>

        <button class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">
            Update
        </button>
    </div>
</div>