<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <a href="/help-requests" class="govuk-button lbh-button govuk-button--secondary lbh-button--secondary js-cta-btn">Cancel</a>
    </div>
    <div class="govuk-grid-column-one-half text-align-right">
        <button class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">
            Save
        </button>
    </div>
</div>