{% extends "template.njk" %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="/app.css">
{% endblock %}


{% block pageTitle %}Coronavirus &mdash; Get Help Admin UI | Hackney Council{% endblock %}

{% block header %}
  {{lbhHeader({
    isHome: false,
     serviceName: "Get Help Admin"
  })}}
{% endblock %}

{% block bodyEnd %}
  <script src="/main.js"></script>
{% endblock %}