{% extends "template.njk" %}
{% from "lbh-back-to-top/macro.njk" import lbhBackToTop %}


{# Import gov uk banner, does not work currently #}
{# {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    You have 7 days left to send your application.
    <a class="govuk-notification-banner__link" href="#">View application</a>.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }} #}

{% block head %}
  {% if GA_UA %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_UA }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ GA_UA }}');
    </script>
  {% endif %}

   <link rel="stylesheet" type="text/css" href="/app.css">
{% endblock %}


{% block pageTitle %}Coronavirus - Support for Hackney residents | Hackney Council{% endblock %}

{% block header %}
  {{lbhHeader({
    isHome: false,
    serviceName: "Support for Hackney residents"
  })}}
{% endblock %}





{% block beforeContent %}
<div id="loader_overlay" class="">
  <div id="loader_spinner"></div>
</div>
{% endblock %}

{% block bodyEnd %}
  {{ lbhBackToTop({
    "topLink": "#top"
  }) }}

  <script src="/main.js"></script>
{% endblock %}