{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-fieldset/macro.njk' import lbhFieldset %}
{% from 'lbh-input/macro.njk' import lbhInput %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}
{% from "lbh-date-input/macro.njk" import lbhDateInput %}
{% from "lbh-textarea/macro.njk" import lbhTextarea %}
{% from 'lbh-panel/macro.njk' import lbhPanel %}

{% extends "./layouts/base.njk" %}

{% block content %}
    <h1 class="lbh-heading-h1">Manage food deliveries</h1>

    <h3 class="lbh-heading-h3">UPRN: {{query.Uprn}}, Annex ID: {{query.Id}}</h3>

    <form action="/help-requests/edit/{{query.Id}}" method="post">
        <input type="hidden" name="Uprn" value="{{query.Uprn}}">
        <input type="hidden" name="Id" value="{{query.Id}}">
        <input type="hidden" name="FirstName" value="{{query.FirstName}}">
        <input type="hidden" name="LastName" value="{{query.LastName}}">
        <input type="hidden" name="AddressFirstLine" value="{{query.AddressFirstLine}}">
        <input type="hidden" name="AddressSecondLine" value="{{query.AddressSecondLine}}">
        <input type="hidden" name="AddressThirdLine" value="{{query.AddressThirdLine}}">
        <input type="hidden" name="Postcode" value="{{query.Postcode}}">
        

        <p class="lbh-body-m">
        {{query.FirstName | upper }} {{query.LastName | upper}} <br />
        {{query.AddressFirstLine}} <br />
        {{query.AddressSecondLine}} <br />
        {{query.AddressThirdLine}} <br />
        {{query.Postcode}}
        </p>

        <table class="govuk-table  lbh-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">On going food need</th>
                    <td class="govuk-table__cell">
                        {{ lbhRadios({
                            "classes": "govuk-radios--inline",
                            "id": "OngoingFoodNeed",
                            "name": "OngoingFoodNeed",
                            "items": [
                                {
                                "value": "yes",
                                "text": "Yes",
                                "checked": true if query.OngoingFoodNeed == 'yes' else false
                                },
                                {
                                "value": "no",
                                "text": "No",
                                "checked": true if query.OngoingFoodNeed == 'no'else false
                                }
                            ],
                            "errorMessage": {
                                "text": query.error_OngoingFoodNeed
                            } if query.error_OngoingFoodNeed
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Contact telelephone</th>
                    <td class="govuk-table__cell">
                        {{ lbhInput({
                        "label": {
                            "text": ""
                        },
                        "type": "tel",
                        "id": "ContactTelephoneNumber",
                        "name": "ContactTelephoneNumber",
                        "value": query.ContactTelephoneNumber,
                        "classes": "govuk-input--width-10"
                    }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Contact mobile</th>
                    <td class="govuk-table__cell">
                        {{ lbhInput({
                            "label": {
                                "text": ""
                            },
                            "type": "tel",
                            "id": "ContactMobileNumber",
                            "name": "ContactMobileNumber",
                            "value": query.ContactMobileNumber,
                            "classes": "govuk-input--width-10",
                            "errorMessage": {
                                "text": query.error_ContactMobileNumber
                            } if query.error_ContactMobileNumber else null
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last confirmed delivery</th>
                    <td class="govuk-table__cell">
                        {{ lbhDateInput({
                            
                            "items": [
                                {
                                "id": "last_confirmed_food_delivery_day",
                                "name": "last_confirmed_food_delivery_day",
                                "label": "Day",
                                "classes": "govuk-input--width-2 " + ("govuk-input--error" if query.error_last_confirmed_food_delivery_day else ''),
                                "value": query.last_confirmed_food_delivery_day
                                },
                                {
                                "id": "last_confirmed_food_delivery_month",
                                "name": "last_confirmed_food_delivery_month",
                                "label": "Month",
                                "classes": "govuk-input--width-2 " + ("govuk-input--error" if query.error_last_confirmed_food_delivery_month else ''),
                                "value": query.last_confirmed_food_delivery_month
                                },
                                {
                                "id": "last_confirmed_food_delivery_year",
                                "name": "last_confirmed_food_delivery_year",
                                "label": "Year",
                                "classes": "govuk-input--width-4 " + ("govuk-input--error" if query.error_last_confirmed_food_delivery_year else ''),
                                "value": query.last_confirmed_food_delivery_year
                                }
                            ],
                            "formGroup": {
                                "classes": "govuk-form-group--error lbh-form-group" if query.error_last_confirmed_food_delivery_day or query.error_last_confirmed_food_delivery_month or query.error_last_confirmed_food_delivery_year else ''
                            },
                            "errorMessage": {
                                "text": "Enter a valid date E.g 29 03 2020"
                            } if query.error_last_confirmed_food_delivery_day or query.error_last_confirmed_food_delivery_month or query.error_last_confirmed_food_delivery_year else null
                        }) }}
                    </td>
                </tr>                  
            </tbody>
        </table>

        <fieldset class="govuk-fieldset lbh-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-fieldset__heading">Notes:</h2>
            </legend>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h3 class="lbh-heading-h3">Delivery notes (optional):</h3>
                    {{ lbhTextarea({
                        "label": {
                            "text": ""
                        },
                        "id": "DeliveryNotes",
                        "name": "DeliveryNotes",
                        "hint" : {
                            "text": ""
                        },
                        "value": query.DeliveryNotes
                    }) }}
                </div>
                <div class="govuk-grid-column-one-half">
                    <h3 class="lbh-heading-h3">Add a new Case note (optional):</h3>
                    {{ lbhTextarea({
                        "label": {
                            "text": ""
                        },
                        "id": "NewCaseNote",
                        "name": "NewCaseNote",
                        "hint" : {
                            "text": ""
                        },
                        "value": query.NewCaseNote
                    }) }}
                </div>
            </div>

            <h3 class="lbh-heading-h3">Case note history (read only):</h3>
            <input type="hidden" name="CaseNotes" value="{{query.CaseNotes}}">
            <textarea readonly class="govuk-textarea  lbh-textarea" rows="20">{{query.CaseNotes}}
            </textarea>
        </fieldset>
        
        {{ lbhButton({
            text: "Cancel",
            "isSecondary": true,
            "href": "/"
        })}}

        <button class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">
        Update
        </button>
    </form>
{% endblock %}