{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-fieldset/macro.njk' import lbhFieldset %}
{% from 'lbh-input/macro.njk' import lbhInput %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}
{% from "lbh-date-input/macro.njk" import lbhDateInput %}
{% from "lbh-summary-list/macro.njk" import lbhSummaryList %}
{% from 'lbh-panel/macro.njk' import lbhPanel %}

{% extends "./layouts/base.njk" %}

{% block content %}
    

    <h1 class="lbh-heading-h1">Coronavirus Get Help Admin</h1>
    <p class="lbh-body-s">Fields marked with an asterisk (*) are required.</p>

    <h2 class="lbh-heading-h2">UPRN: {{query.Uprn}} Annex ID: {{query.Id}}</h2>

    <form action="/help-requests/edit/{{query.Id}}" method="post">
        <input type="hidden" name="Uprn" value="{{query.Uprn}}">
        <input type="hidden" name="Id" value="{{query.Id}}">
        <input type="hidden" name="FirstName" value="{{query.FirstName}}">
        <input type="hidden" name="LastName" value="{{query.LastName}}">
        <input type="hidden" name="AddressFirstLine" value="{{query.AddressFirstLine}}">
        <input type="hidden" name="AddressSecondLine" value="{{query.AddressSecondLine}}">
        <input type="hidden" name="AddressThirdLine" value="{{query.AddressThirdLine}}">
        <input type="hidden" name="Postcode" value="{{query.Postcode}}">

        <p class="lbh-body-m">
        {{query.FirstName | upper }} {{query.LastName | upper}} <br />
        {{query.AddressFirstLine}} <br />
        {{query.AddressSecondLine}} <br />
        {{query.AddressThirdLine}} <br />
        {{query.Postcode}}
        </p>

        {{ lbhRadios({
            "fieldset": {
                "legend": {
                "text": "On going food need"
                }
            },
            "classes": "govuk-radios--inline",
            "id": "OngoingFoodNeed",
            "name": "OngoingFoodNeed",
            "items": [
                {
                "value": "yes",
                "text": "Yes",
                "checked": true if query.OngoingFoodNeed == 'yes' else false
                },
                {
                "value": "no",
                "text": "No",
                "checked": true if query.OngoingFoodNeed == 'no'else false
                }
            ],
            "errorMessage": {
                "text": query.error_OngoingFoodNeed
            } if query.error_OngoingFoodNeed
        }) }}

        {{ lbhRadios({
            "fieldset": {
                "legend": {
                "text": "How many people are there living in your household at the moment? *"
                }
            },
            "idPrefix": "NumberOfPeopleInHouse",
            "name": "NumberOfPeopleInHouse",
            "classes": "govuk-radios--inline",
            "items": [
                {
                "value": "1",
                "text": "1",
                "checked": true if query.NumberOfPeopleInHouse == "1" else false
                },
                {
                "value": 2,
                "text": "2",
                "checked": true if query.NumberOfPeopleInHouse == "2" else false
                },
                {
                "value": "3",
                "text": "3",
                "checked": true if query.NumberOfPeopleInHouse == "3" else false
                },
                {
                "value": "4",
                "text": "4",
                "checked": true if query.NumberOfPeopleInHouse == "4" else false
                },
                {
                "value": "5 or more",
                "text": "5 or more",
                "checked": true if query.NumberOfPeopleInHouse == "5 or more" else false
                }
            ],
            "errorMessage": {
                "text": query.error_NumberOfPeopleInHouse
            } if query.error_NumberOfPeopleInHouse else null
        }) }}


      {{ lbhDateInput({
            "fieldset": {
                "legend": {
                "text": "Last confirmed food ? *",
                "hint": "For example 29 4 2020"
                }
            },
            "items": [
                {
                "id": "last_confirmed_food_delivery_day",
                "name": "last_confirmed_food_delivery_day",
                "label": "Day",
                "classes": "govuk-input--width-2 " + ("govuk-input--error" if query.error_last_confirmed_food_delivery_day else ''),
                "value": query.last_confirmed_food_delivery_day
                },
                {
                "id": "last_confirmed_food_delivery_month",
                "name": "last_confirmed_food_delivery_month",
                "label": "Month",
                "classes": "govuk-input--width-2 " + ("govuk-input--error" if query.error_last_confirmed_food_delivery_month else ''),
                "value": query.last_confirmed_food_delivery_month
                },
                {
                "id": "last_confirmed_food_delivery_year",
                "name": "last_confirmed_food_delivery_year",
                "label": "Year",
                "classes": "govuk-input--width-4 " + ("govuk-input--error" if query.error_last_confirmed_food_delivery_year else ''),
                "value": query.last_confirmed_food_delivery_year
                }
            ],
            "formGroup": {
                "classes": "govuk-form-group--error lbh-form-group" if query.error_last_confirmed_food_delivery_day or query.error_last_confirmed_food_delivery_month or query.error_last_confirmed_food_delivery_year else ''
            },
            "errorMessage": {
                "text": "Enter a valid date E.g 29 03 2020"
            } if query.error_last_confirmed_food_delivery_day or query.error_last_confirmed_food_delivery_month or query.error_last_confirmed_food_delivery_year else null
        }) }}
        

        {{ lbhButton({
            text: "Cancel",
            "isSecondary": true,
            "href": "/"
        })}}

        {{ lbhButton({
            "text": "Update",
            "preventDoubleClick": true
        })}}
    </form>
{% endblock %}