{% from 'lbh-button/macro.njk' import lbhButton %}{% from 'lbh-panel/macro.njk' import lbhPanel %}

{% extends "./layouts/base.njk" %}

{% block content %}
    <h1 class="lbh-heading-h1">Manage food deliveries</h1>
        <h2 class="lbh-heading-h2"></h2>

    {{ lbhPanel({
    "titleHtml": "UPRN: " + Uprn + " Annex ID: " + Id,
    "text": "Update successful"
    }) }}

    <a href="/" class="govuk-button lbh-button js-cta-btn">Home</a>
{% endblock %}