{% from 'lbh-input/macro.njk' import lbhInput %}
{% from "lbh-back-link/macro.njk" import lbhBackLink %}

{% extends "./layouts/base.njk" %}

{% block content %}
  <h1 class="lbh-heading-h1">Manage food deliveries</h1>
  {{ lbhBackLink({
    "href": "/",
    "text": "Back to home"
  }) }}

  <form action="/help-requests" method="post">
    <h3 class="lbh-heading-h3">Enter a postcode to search by:</h3>
    {{ lbhInput({
      "id": "postcode",
      "name": "postcode",
      "value": query.postcode,
      "classes": "govuk-input--width-10",
      "formGroup": {
        "classes": "govuk-form-group--error lbh-form-group" if query.error_postcode else ''
      },
      "errorMessage": {
        "text": query.error_postcode
      } if query.error_postcode else null
    }) }}

    <button class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">
      Search
    </button>
  </form>
{% endblock %}