{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-fieldset/macro.njk' import lbhFieldset %}
{% from 'lbh-input/macro.njk' import lbhInput %}

{% extends "./layouts/base.njk" %}

{% block content %}
  <h1 class="lbh-heading-h1">Coronavirus Get Help Admin</h1>
  <p class="lbh-body-s">Fields marked with an asterisk (*) are required.</p>

  <form action="/help-requests" method="post">
    <input type="hidden" name="uprn" id="uprn" value="{{query.uprn}}">

    {% call lbhFieldset({
      legend: {
        text: "Enter the postcode of the address *",
        isPageHeading: false
      },
      attributes: {
        id: "address-lookup-fieldset"
      }
    }) %}
      {{ lbhInput({
        "label": {
          "text": ""
        },
        "id": "building_number",
        "name": "building_number",
        "value": query.building_number
      }) }}
      {{ lbhInput({
        "label": {
          "text": ""
        },
        "id": "lookup_postcode",
        "name": "lookup_postcode",
        "value": query.lookup_postcode,
        "formGroup": {
          "classes": "govuk-form-group--error lbh-form-group" if query.error_lookup_postcode else ''
        },
        "errorMessage": {
          "text": query.error_lookup_postcode
        } if query.error_lookup_postcode else null
      }) }}
      {{ lbhButton({
        element: "button",
        text: "Look up address",
        type: "button",
        attributes: {"id": "address-finder", "data-api-url": addresses_api_url, "data-api-key": addresses_api_key}
      })}}
    {% endcall %}
    
    {% call lbhFieldset({
      legend: {
        text: "Manually enter address",
        isPageHeading: false
      },
      attributes: {
        id: "address-manual-fieldset"
      }
    }) %}
      {{ lbhInput({
        "label": {
          "text": "House name or number"
        },
        "id": "house_name_or_number",
        "name": "house_name_or_number",
        "value": query.house_name_or_number
      }) }}
      {{ lbhInput({
        "label": {
          "text": "First line of address"
        },
        "id": "address_first_line",
        "name": "address_first_line",
        "value": query.address_first_line
      }) }}
      {{ lbhInput({
        "label": {
          "text": "Second line of address"
        },
        "id": "address_second_line",
        "name": "address_second_line",
        "value": query.address_second_line
      }) }}
      {{ lbhInput({
        "label": {
          "text": "Third line of address"
        },
        "id": "address_third_line",
        "name": "address_third_line",
        "value": query.address_third_line
      }) }}

      {{ lbhInput({
        "label": {
          "text": "Postcode *"
        },
        "id": "postcode",
        "name": "postcode",
        "value": query.postcode,
        "formGroup": {
          "classes": "govuk-form-group--error lbh-form-group" if query.error_postcode else ''
        },
        "errorMessage": {
          "text": query.error_postcode
        } if query.error_postcode else null
      }) }}
    {% endcall %}

    {{ lbhButton({
      text: "Search Annex",
      "preventDoubleClick": true
    })}}
  </form>
{% endblock %}