{% from 'lbh-input/macro.njk' import lbhInput %}

{% extends "./layouts/base.njk" %}

{% block content %}
  <h1 class="lbh-heading-h1">What would you like to do?</h1>

  <table class="govuk-table  lbh-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1. Manage food deliveries</td>
          <td class="govuk-table__cell">
            <a href="/help-requests" class="govuk-button lbh-button" data-module="govuk-button">Go</a>
          </td>
        </tr>

        {% if isAdmin %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2. Manage exceptions</td>
          <td class="govuk-table__cell">
            <a href="/exceptions" class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">Go</a>
          </td>
        </tr>
        {% endif %}
    </tbody>
  </table>
{% endblock %}