{% from 'lbh-input/macro.njk' import lbhInput %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}
{% from "lbh-back-link/macro.njk" import lbhBackLink %}

{% extends "../layouts/base.njk" %}

{% block content %}
  <h1 class="lbh-heading-h1">Search food requests</h1>
  {{ lbhBackLink({
    "href": "/food-requests",
    "text": "Back"
  }) }}

  <form action="/food-requests/search" method="post">
    <h3 class="lbh-heading-h3">What do you want to search by?</h3>
    {{ lbhRadios({
      "id": "searchby",
      "name": "searchby",
      "classes": "govuk-radios--inline",
      "items": [
          {
          "value": "postcode",
          "text": "Postcode",
          "checked": true if query.searchby != "id" else false
          },
          {
          "value": "id",
          "text": "Annex ID",
          "checked": true if query.searchby == "id" else false
          }
        ],
        "formGroup": {
          "classes": "govuk-form-group--error lbh-form-group" if query.error_searchby else ''
        },
        "errorMessage": {
          "text": query.error_searchby
        } if query.error_searchby else null
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        
          <h3 class="lbh-heading-h3">Postcode:</h3>
          {{ lbhInput({
            "id": "postcode",
            "name": "postcode",
            "value": query.postcode,
            "classes": "govuk-input--width-10",
            "formGroup": {
              "classes": "govuk-form-group--error lbh-form-group" if query.error_postcode else ''
            },
            "errorMessage": {
              "text": query.error_postcode
            } if query.error_postcode else null
          }) }}

          {% if isAdmin %}
          <h3 class="lbh-heading-h3">Show Master records only?</h3>
          {{ lbhRadios({
            "id": "masterOnly",
            "name": "masterOnly",
            "classes": "govuk-radios--inline",
            "items": [
                {
                "value": "YES",
                "text": "YES",
                "checked": true if query.masterOnly != "NO" else false
                },
                {
                "value": "NO",
                "text": "NO",
                "checked": true if query.masterOnly == "NO" else false
                }
            ]
          }) }}
          {% endif %}
      </div>
      
      <div class="govuk-grid-column-one-half">
          <h3 class="lbh-heading-h3">Annex ID:</h3>
          {{ lbhInput({
            "id": "id",
            "name": "id",
            "value": query.id,
            "classes": "govuk-input--width-10",
            "formGroup": {
              "classes": "govuk-form-group--error lbh-form-group" if query.error_id else ''
            },
            "errorMessage": {
              "text": query.error_id
            } if query.error_id else null
          }) }}

          
      </div>
      
    </div>

    <button class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">
      Search
    </button>
  </form>
{% endblock %}