{% from 'lbh-input/macro.njk' import lbhInput %}

{% extends "../layouts/base.njk" %}

{% block content %}

  <h1 class="lbh-heading-h1">Ask for help requests</h1>

  <table class="govuk-table  lbh-table">
    <tbody class="govuk-table__body">
        
    </tbody>
  </table>
{% endblock %}