{% from 'lbh-button/macro.njk' import lbhButton %}
{% from "lbh-back-link/macro.njk" import lbhBackLink %}

{% from "partials/help-request-data-list.njk" import HelpRequestDataList %}

{% extends "../layouts/base.njk" %}

{% block content %}
    <h1 class="lbh-heading-h1">Help request callbacks</h1>
    {{ lbhBackLink({
        "href": "/help-requests",
        "text": "Back"
    }) }}

    {% if helpRequestsData | length %}
        <p class="lbh-body-m">Displaying {{helpRequestsData | length}} record(s)</p>

        {{ HelpRequestDataList(helpRequestsData) }}
        
    {% else %}
        <h3 class="lbh-heading-h3">No callbacks to display</h3>
    {% endif %}
{% endblock %}