{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-fieldset/macro.njk' import lbhFieldset %}
{% from 'lbh-input/macro.njk' import lbhInput %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}
{% from "lbh-checkboxes/macro.njk" import lbhCheckboxes %}
{% from "lbh-select/macro.njk" import lbhSelect %}
{% from "lbh-date-input/macro.njk" import lbhDateInput %}
{% from "lbh-textarea/macro.njk" import lbhTextarea %}
{% from "lbh-back-link/macro.njk" import lbhBackLink %}
{% from "lbh-error-summary/macro.njk" import lbhErrorSummary %}

{% extends "../layouts/base.njk" %}

{% block content %}
    <h1 class="lbh-heading-h1">Create new resident profile</h1>

    {% if query.haserrors %}
    {{ lbhErrorSummary({
        "titleText": "There is a problem",
        "descriptionText": query.message,
        "descriptionHtml": query.descriptionHtml
    }) }}
    {% endif %}

    <form action="/help-requests/create" method="post">
        <input type="hidden" name="building_number" id="building_number" value="{{query.building_number}}">
        <input type="hidden" name="uprn" id="uprn" value="{{query.uprn}}">
        <input type="hidden" name="ward" id="ward" value="{{query.ward}}">
        <input type="hidden" name="gazetteer" id="gazetteer" value="{{query.gazetteer}}">
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {{ lbhFieldset({
                    "legend": {
                        "text": "First name"
                    }
                }) }}
                {{ lbhInput({
                    "id": "FirstName",
                    "name": "FirstName",
                    "value": query.FirstName,
                    "classes": ("govuk-input--error" if query.error_FirstName else ''),
                    "errorMessage": {
                        "text": query.error_FirstName
                    } if query.error_FirstName else null
                }) }}
            </div>
            <div class="govuk-grid-column-one-half">
                {{ lbhFieldset({
                    "legend": {
                        "text": "Last name"
                    }
                }) }}
                {{ lbhInput({
                    "id": "LastName",
                    "name": "LastName",
                    "value": query.LastName,
                    "classes": ("govuk-input--error" if query.error_LastName else ''),
                    "errorMessage": {
                        "text": query.error_LastName
                    } if query.error_LastName else null
                }) }}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h3 class="lbh-heading-h3">Contact telephone</h3>
                {{ lbhInput({
                    "type": "tel",
                    "id": "ContactTelephoneNumber",
                    "name": "ContactTelephoneNumber",
                    "value": query.ContactTelephoneNumber,
                    "classes": "",
                    "errorMessage": {
                        "text": query.error_ContactTelephoneNumber
                    } if query.error_ContactTelephoneNumber else null
                }) }}
            </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="lbh-heading-h3">Contact mobile (Optional)</h3>
                {{ lbhInput({
                    "type": "tel",
                    "id": "ContactMobileNumber",
                    "name": "ContactMobileNumber",
                    "value": query.ContactMobileNumber,
                    "classes": ""
                }) }}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h3 class="lbh-heading-h3">Email address (Optional)</h3>
                {{ lbhInput({
                    "id": "EmailAddress",
                    "name": "EmailAddress",
                    "value": query.EmailAddress
                }) }}
            </div>
            <div class="govuk-grid-column-one-half">
                
            </div>
        </div>

        <h3 class="lbh-heading-h3">Date of birth</h3>
        {{ lbhDateInput({
            "items": [
                {
                "id": "DobDay",
                "name": "DobDay",
                "label": "Day",
                "classes": "govuk-input--width-2 " + ("govuk-input--error" if query.error_DobDay else ''),
                "value": query.DobDay
                },
                {
                "id": "DobMonth",
                "name": "DobMonth",
                "label": "Month",
                "classes": "govuk-input--width-2 " + ("govuk-input--error" if query.error_DobMonth else ''),
                "value": query.DobMonth
                },
                {
                "id": "DobYear",
                "name": "DobYear",
                "label": "Year",
                "classes": "govuk-input--width-4 " + ("govuk-input--error" if query.error_DobYear else ''),
                "value": query.DobYear
                }
            ],
            "formGroup": {
                "classes": "govuk-form-group--error lbh-form-group" if query.error_DobDay or query.error_DobMonth or query.error_DobYear else ''
            },
            "errorMessage": {
                "text": "Enter a valid date"
            } if query.error_DobDay or query.error_DobMonth or query.error_DobYear else null
        }) }}

        <hr>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h3 class="lbh-heading-h3">Search address by postcode</h3>
                {{ lbhInput({
                    "id": "lookup_postcode",
                    "name": "lookup_postcode",
                    "value": query.lookup_postcode,
                    "classes": "govuk-input--width-10",
                    "formGroup": {
                    "classes": "govuk-form-group--error lbh-form-group" if query.error_postcode else ''
                    },
                    "errorMessage": {
                    "text": query.error_postcode
                    } if query.error_postcode else null
                }) }}
                
                {{ lbhButton({
                    element: "button",
                    text: "Search address",
                    type: "button",
                    attributes: {"id": "address-finder", "data-api-url": addresses_api_url, "data-api-key": addresses_api_key}
                })}}

            </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="lbh-heading-h3">Selected address</h3>
                {{ lbhInput({
                    "id": "address_first_line",
                    "name": "address_first_line",
                    "value": query.address_first_line,
                    "classes": ("govuk-input--error" if query.error_address_first_line else ''),
                    "attributes": {"readonly": "readonly"},
                    "errorMessage": {
                        "text": query.error_address_first_line
                    } if query.error_address_first_line else null
                }) }}

                {{ lbhInput({
                    "id": "address_second_line",
                    "name": "address_second_line",
                    "value": query.address_second_line,
                    "attributes": {"readonly": "readonly"}
                }) }}
                
                {{ lbhInput({
                    "id": "address_third_line",
                    "name": "address_third_line",
                    "value": query.address_third_line,
                    "attributes": {"readonly": "readonly"}
                }) }}

                {{ lbhInput({
                    "id": "postcode",
                    "name": "postcode",
                    "value": query.postcode,
                    "classes": ("govuk-input--error" if query.error_postcode else ''),
                    "attributes": {"readonly": "readonly"},
                    "formGroup": {
                        "classes": "govuk-form-group--error lbh-form-group" if query.error_postcode else ''
                    },
                    "errorMessage": {
                        "text": query.error_postcode
                    } if query.error_postcode else null
                }) }}
               
            </div>
        </div>

        <hr>
        
        
        <!-- TODO: fix later -->
        <input type="hidden" name="what_coronavirus_help" value="something else">
        <input type="hidden" name="CurrentSupport" value="not sure">
        <input type="hidden" name="NumberOfChildrenUnder18" value="0">
        <input type="hidden" name="InitialCallbackCompleted" value="false">
        <input type="hidden" name="CallbackRequired" value="true">


        {{ lbhRadios({
            "fieldset": {
                "legend": {
                    "text": "Can we share the information you’ve provided with voluntary or community organisations?"
                }
            },
            "hint": {
                "text": "For example, sharing your contact details with a charity so they can call you to offer support."
            },
            "idPrefix": "consent_to_share",
            "name": "consent_to_share",
            "classes": "govuk-radios--inline",
            "items": [
                {
                "value": "yes",
                    "text": "Yes",
                    "checked": true if query.consent_to_share == 'yes' else false
                },
                {
                "value": "no",
                    "text": "No",
                    "checked": true if query.consent_to_share == 'no' else false
                }
            ],
            "errorMessage": {
                "text": query.error_consent_to_share
            } if query.error_consent_to_share else null
        }) }}



        {% include '../partials/help-request-create-cta-btns.njk' %}
    </form>
   
{% endblock %}