{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-fieldset/macro.njk' import lbhFieldset %}
{% from 'lbh-input/macro.njk' import lbhInput %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}
{% from "lbh-checkboxes/macro.njk" import lbhCheckboxes %}
{% from "lbh-select/macro.njk" import lbhSelect %}
{% from "lbh-date-input/macro.njk" import lbhDateInput %}
{% from "lbh-textarea/macro.njk" import lbhTextarea %}
{% from "lbh-back-link/macro.njk" import lbhBackLink %}
{% from "lbh-error-summary/macro.njk" import lbhErrorSummary %}

{% extends "../layouts/base.njk" %}

{% block content %}

  {{ lbhBackLink({
    "href": "/help-requests",
    "text": "Back"
  }) }}

    <h1 class="lbh-heading-h1">Create new resident profile</h1>

    {% if query.haserrors %}
    {{ lbhErrorSummary({
        "titleText": "There is a problem",
        "descriptionText": query.message,
        "descriptionHtml": query.descriptionHtml
    }) }}
    {% endif %}
    <form action="/help-requests/create" method="post">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <label class="govuk-label" for="FirstName">First name</label>
                {{ lbhInput({
                    "id": "FirstName",
                    "name": "FirstName",
                    "value": query.FirstName,
                    "classes": ("govuk-input--error" if query.error_FirstName else ''),
                    "errorMessage": {
                        "text": query.error_FirstName
                    } if query.error_FirstName else null
                }) }}
            </div>
            <div class="govuk-grid-column-one-third">
                <label class="govuk-label" for="LastName">Last name</label>
                {{ lbhInput({
                    "id": "LastName",
                    "name": "LastName",
                    "value": query.LastName,
                    "classes": ("govuk-input--error" if query.error_LastName else ''),
                    "errorMessage": {
                        "text": query.error_LastName
                    } if query.error_LastName else null
                }) }}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <label class="govuk-label" for="ContactTelephoneNumber">Contact telephone</label>
                {{ lbhInput({
                    "type": "tel",
                    "id": "ContactTelephoneNumber",
                    "name": "ContactTelephoneNumber",
                    "value": query.ContactTelephoneNumber,
                    "classes": "",
                    "errorMessage": {
                        "text": query.error_ContactTelephoneNumber
                    } if query.error_ContactTelephoneNumber else null
                }) }}
            </div>
            <div class="govuk-grid-column-one-third">
                <label class="govuk-label" for="ContactMobileNumber">Contact mobile (Optional)</label>
                {{ lbhInput({
                    "type": "tel",
                    "id": "ContactMobileNumber",
                    "name": "ContactMobileNumber",
                    "value": query.ContactMobileNumber,
                    "classes": ""
                }) }}
            </div>
            <div class="govuk-grid-column-one-third">
                <label class="govuk-label" for="EmailAddress">Email address (Optional)</label>
                {{ lbhInput({
                    "id": "EmailAddress",
                    "name": "EmailAddress",
                    "value": query.EmailAddress
                }) }}
            </div>

        </div>


        <h3 class="lbh-heading-h3">Date of birth</h3>
        {{ lbhDateInput({
            "items": [
                {
                "id": "DobDay",
                "name": "DobDay",
                "label": "Day",
                "classes": "govuk-input--width-2 " + ("govuk-input--error" if query.error_DobDay else ''),
                "value": query.DobDay
                },
                {
                "id": "DobMonth",
                "name": "DobMonth",
                "label": "Month",
                "classes": "govuk-input--width-2 " + ("govuk-input--error" if query.error_DobMonth else ''),
                "value": query.DobMonth
                },
                {
                "id": "DobYear",
                "name": "DobYear",
                "label": "Year",
                "classes": "govuk-input--width-4 " + ("govuk-input--error" if query.error_DobYear else ''),
                "value": query.DobYear
                }
            ],
            "formGroup": {
                "classes": "govuk-form-group--error lbh-form-group" if query.error_DobDay or query.error_DobMonth or query.error_DobYear else ''
            },
            "errorMessage": {
                "text": "Enter a valid date"
            } if query.error_DobDay or query.error_DobMonth or query.error_DobYear else null
        }) }}

        <hr>

        {% include '../partials/address-lookup.njk' %}

        <hr>

        {{ lbhRadios({
            "fieldset": {
                "legend": {
                    "text": "Can we share the information you’ve provided with voluntary or community organisations?"
                }
            },
            "hint": {
                "text": "For example, sharing your contact details with a charity so they can call you to offer support."
            },
            "idPrefix": "consent_to_share",
            "name": "consent_to_share",
            "classes": "govuk-radios--inline",
            "items": [
                {
                "value": "yes",
                    "text": "Yes",
                    "checked": true if query.consent_to_share == 'yes' else false
                },
                {
                "value": "no",
                    "text": "No",
                    "checked": true if query.consent_to_share == 'no' else false
                }
            ],
            "errorMessage": {
                "text": query.error_consent_to_share
            } if query.error_consent_to_share else null
        }) }}
        
        <hr />
        
        {{ lbhRadios({
            "fieldset": {
                "legend": {
                "text": "What type of help is needed?"
                }
            },
            "id": "HelpNeeded",
            "name": "HelpNeeded",
            "classes": "govuk-radios--inline",
            "items": [
                {
                "value": "Contact Tracing",
                "text": "Contact Tracing",
                "checked": true if query.HelpNeeded and "Contact Tracing" in query.HelpNeeded else false
                },
                {
                "value": "Help Request",
                "text": "Help Request",
                "checked": true if query.HelpNeeded and "Help Request" in query.HelpNeeded else false
                },
                {
                "value": "Shielding",
                "text": "Shielding",
                "checked": true if query.HelpNeeded and "Shielding" in query.HelpNeeded else false
                },
                {
                "value": "Welfare Call",
                "text": "Welfare Call",
                "checked": true if query.HelpNeeded and "Welfare Call" in query.HelpNeeded else false
                }
            ],
            "formGroup": {
            "classes": "govuk-form-group--error lbh-form-group" if query.error_HelpNeeded else ''
            },
            "errorMessage": {
            "text": query.error_HelpNeeded
            } if query.error_HelpNeeded else null
        }) }}


        {% include '../partials/help-request-create-cta-btns.njk' %}
    </form>
   
{% endblock %}