{% from 'lbh-input/macro.njk' import lbhInput %}
{% from "lbh-back-link/macro.njk" import lbhBackLink %}

{% extends "../layouts/base.njk" %}

{% block content %}

  <h1 class="lbh-heading-h1">Manage support for resident</h1>

  {% if summary.ActiveCases %}
  <p class="lbh-body-m">Total help requests: ({{ summary.ActiveCases }})</p>
  {% endif %}


  <table class="govuk-table  lbh-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Search for residents</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="/help-requests/search" class="govuk-button lbh-button" data-module="govuk-button">Go</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">View callback list</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="/help-requests/callbacks" class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">Go</a>
          </td>
        </tr>
    </tbody>
  </table>
{% endblock %}